	<h2>Category Detail</h2>                  
<p>
	<strong>Category_code:</strong>
	<%= @category.cat_code %>
</p>

<p>
	<strong>Category_Title:</strong>
	<%= @category.cat_title %>
</p>

<p>
	<strong>Category_Detail:</strong>
	<%= @category.cat_detail %>
</p>
